<div class="fixed-bg bg01">
  <br /><br /><br />
  <h1 class="font-weight-bolder"><%= @room.name %></h1>

  <div class="line-bc">
    <% @messages.each do |message| %>
      <% if current_user.id != message.user_id %>
        <div class="balloon6">
          <div class="opponent_name">
            <%= message.user.nickname %>
          </div>
          <div class="faceicon">
            <%= image_tag message.user.image, class: "rounded-circle", alt: "Circle image" if message.image.attached? %><br />
          </div>
          <div class="chatting">
            <div class="says">
              <p>
                <%= message.content %>
              </p>
            </div>
          </div>
        </div>
        <% else %>
        <div class="mycomment">
          <p>
            <%= message.content %>
          </p>
        </div>
        <%= image_tag message.image, class: "rounded-circle", alt: "Circle image" if message.image.attached? %>
        <%
=begin%>
 <div>
          <%= l message.created_at %>
        </div> 
<%
=end%>
      <% end %>
    <% end %>

  </div>
  <br /><br/><br /><br/>

  <div class="fixed-bottom">
    <div class='container'>
      <%= form_with model: [@room, @message], local: true do |f| %>
        <div class='input-group'>
          <%= f.text_field :content, class: 'form-control', placeholder: 'type a message' %>

          <label class="input-group-text" for="customFile">picture</label>
          <%= f.file_field :image, class: "d-none", id: "customFile" %>

          <div class="input-group-append">
            <%= f.submit 'Send', class: "btn btn-sm btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>