<div class="fixed-bg bg01">
  <div class="d-flex">
    <div class="p-2 flex-grow-1">
      <h1 class="font-weight-bolder"><%= @room.name %></h1>
    </div>
    <div class="p-2">
      <h1 class='font-weight-bolder'><%= link_to 'Delete?', room_path(@room), method: :delete, class: "text-decoration-none text-dark" %></h1>
    </div>
  </div>

  <div class="line-bc">
    <% @messages.each do |message| %>
      <% if current_user.id != message.user_id %>
        <div class="balloon6">
          <div class="opponent_name">
            <%= message.user.nickname %>
          </div>
          <div class="faceicon">
            <%= image_tag message.user.image, class: "rounded-circle", alt: "Image" if message.user.image.attached? %><br />
          </div>
          <% unless message.content.blank? %>
            <div class="chatting">
              <div class="says">
                  <p><%= message.content %></p>
              </div>
            </div>
          <% end %>
          <div class="d-flex ml-5">
              <%= image_tag message.image, class: "rounded-xs mt-1", alt: "Image" if message.image.attached? %>
          </div>
        </div>
        <% else %>
        <div class="mycomment">
          <% unless message.content.blank? %>
            <p><%= message.content %></p>
          <% end %>
        </div>
          <%= image_tag message.image, class: "rounded-xs mt-2", alt: "Image" if message.image.attached? %>
      <% end %>
    <% end %>
  </div>

  <br /><br/>

  <div class="fixed-bottom">
    <div class='container'>
      <%= form_with model: [@room, @message], local: true do |f| %>
        <div class='input-group'>
          <%= f.text_field :content, class: 'form-control', placeholder: 'type a message' %>
          <%= f.label 'picture', class: "input-group-text", for: "customFile" %>
          <%= f.file_field :image, class: "d-none", id: "customFile" %>
          <div class="input-group-append">
            <%= f.submit 'Send', class: "btn btn-sm btn-success" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>