<br />

<h1 class="font-weight-bolder font-italic">Sign up</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="custom-form">
    <%= f.label :image, class: 'font-italic' %><br />
    <div id='user-image'></div>
    <div class="col-7 text-truncate mt-1">
      <%= f.file_field :image %>
    </div>
  </div>

  <%= f.label :nickname, class: 'font-italic' %><br />
  <div class="form-inline">
    <%= f.text_field :nickname, autofocus: true, class: 'form-control',  autocomplete: "nickname" %>
  </div>

  <%= f.label :email, class: 'font-italic' %><br />
  <div class="form-inline">
    <%= f.email_field :email, autofocus: true, class: 'form-control',  autocomplete: "email" %>
  </div>

  <%if @sns_id.present? %>
    <%= hidden_field_tag :sns_auth, true %>
  <% else %>
    <%= f.label :password, class: 'font-italic' %><br />
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <div class="form-inline">
      <%= f.password_field :password, class: 'form-control', autocomplete: "new-password" %>
    </div>
    <%= f.label :password_confirmation, class: 'font-italic' %><br />
    <div class="form-inline">
      <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %>
    </div>
  <% end %>

  <%= f.label :introdution, class: 'font-italic' %>
  <div class="form-inline">
    <%= f.text_area :introduction, autofocus: true, class: 'form-control', autocomplete: "introduction" %>
  </div>

  <%= f.label :birth_day, class: 'font-italic' %>
  <div class='input-group'>
    <%= raw sprintf(
      f.date_select(
        :birth_day,
        class:"custom-select d-block",
        id:"birth-date",
        use_month_numbers: true,
        prompt:'--',
        start_year: 1930,
        end_year: (Time.now.year - 5),
        date_separator: '%s'),
        " /Y ", " /M ") + " /D " %>
  </div>
  
  <%= f.label :location, class: 'font-italic mt-1' %>
  <div class="form-inline">
    <%= f.search_field :address, id: 'address', class: 'form-control mr-sm-2'%>
    <input type="button" value="Encode" onclick="codeAddress()" class='btn btn-secondary my-sm-0'>
  </div>
  <div id='map' class="rounded my-2"></div>
  <%= f.submit "Sign up", class: 'btn btn-secondary my-2'%>
<% end %>

<%= link_to 'Sign up with Facebook', user_facebook_omniauth_authorize_path, method: :post, class: 'text-reset font-italic'%><br />
<%= link_to 'Sign up with Google', user_google_oauth2_omniauth_authorize_path, method: :post, class: 'text-reset font-italic'%><br />
<%= render "devise/shared/links" %>

<script>
  let map
  let geocoder

  // 入力前の地図
  function initMap(){
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 35.6585805, lng:139.7454329},
      zoom: 12,
    });

    marker = new google.maps.Marker({
      position:  {lat: 35.6585805, lng:139.7454329},
      map: map
    });
  }

  // 入力後の地図
  function codeAddress(){
    let inputAddress = document.getElementById('address').value;

    geocoder.geocode( { 'address': inputAddress}, function(results, status) {
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
      } else {
        alert('No Result：' + status);
      }
    });   
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>