<%= form_with model: current_user, local: true do |f|%>

  <br>

  <h1 class="font-weight-bolder font-italic">Edit Account</h1>
  <%= image_tag current_user.image, class: "rounded-circle",  width: "200", height: "200"%>
  <div id='user-image'></div>
  <div class="custom-file">
    <%= f.label :image, class: 'font-italic'%>
    <div class="col-7 text-truncate">
      <%= f.file_field :image, class: "form-control-file" %>
    </div>
  </div>
  <%= f.label :nickname, class: 'font-italic'%>
  <div class="form-inline">
    <%= f.text_field :nickname, autofocus: true, class: 'form-control'%>
  </div>
  <%= f.label :email, class: 'font-italic'%>
  <div class="form-inline">
    <%= f.email_field :email, class: 'form-control' %>
  </div>
  <% @cards.each do |card| %>
    <%= f.label :card_number, class: 'font-italic'%><br>
    <div class="form-inline">
      <input type="text" disabled class="form-control" placeholder="**** **** **** <%= card[:last4] %>">
    </div>
    <%= f.label :expiration, class: 'font-italic'%><br>
    <div class="form-inline">
      <input type="text" disabled class="form-control" placeholder=
        "<%= card[:exp_month] %>
        /
        <%= card[:exp_year] %>">
    </div>
  <% end %>
  <%= f.label :location, class: 'font-italic' %>
  <div class="form-inline">
    <%= f.search_field :address, id: 'address', class: 'form-control mr-sm-2' %>
    <input type="button" value="Encode" onclick="codeAddress()" class='btn btn-secondary my-2 my-sm-0'>
  </div>
  <div id="display" class="mt-1"></div>
  <div id='map' class="rounded"></div>
  <%= f.submit "Update", class: 'btn btn-secondary mt-1'%>
<% end %>
<%= link_to  "Delete account?", user_path, method: :delete, class: 'btn btn-danger mt-1' %>

<script>
  let map
  let geocoder
  const display = document.getElementById('display')

  // 入力前の地図
  function initMap(){
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: <%= current_user.latitude %>, lng:<%= current_user.longitude%>},
      zoom: 12,
    });

    marker = new google.maps.Marker({
      position:  {lat: <%= current_user.latitude %>, lng:<%= current_user.longitude%>},
      map: map
    });
  }

  // 入力後の地図
  function codeAddress(){
    let inputAddress = document.getElementById('address').value;

    geocoder.geocode( { 'address': inputAddress}, function(results, status) {
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
        display.textContent = "Result：" + results[ 0 ].geometry.location
      } else {
        alert('No Result：' + status);
      }
    });   
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>