<%= form_with model: current_user, local: true do |f|%>

  <br />

  <h1 class="font-weight-bolder">Edit Account</h1>
  <%= image_tag current_user.image %>
  <div>
    <%= f.label :image %>
    <div class=>
      <%= f.file_field :image %>
    </div>
  </div>
  <%= f.label :nickname%>
  <div class="form-inline">
    <%= f.text_field :nickname, autofocus: true, class: 'form-control'%>
  </div>
  <%= f.label :email%>
  <div class="form-inline">
    <%= f.email_field :email, class: 'form-control' %>
  </div>
  <%= f.label :location %>
  <div class="form-inline">
    <%= f.text_field :address, id: 'address', class: 'form-control' %>
    <input type="button" value="Encode" onclick="codeAddress()" class='btn btn-secondary'>
  </div>
  <div id="display"></div>
  <div id='map'></div>
  <%= f.submit "Update", class: 'btn btn-primary mt-1'%>
<% end %>