<%=form_with model: @room, local: true do |f|%>
  
  <br />

  <h1 class="font-weight-bolder">New Chat</h1>

  <label for="inputChatname">Chat Name</label>
  <div class="form-inline">
    <%= f.text_field :name, placeholder: 'Chat Name', class: "form-control", id: "inputChatname"%>
  </div>
  <label for="inputchatMember">Chat Member</label>
  <div class="form-inline">
    <select name="room[user_ids][]" class="custom-select">
      <option>Choose Member</option>
      <% User.where.not(id: current_user.id).each do |user| %>
        <option value=<%= user.id %>><%= user.nickname %></option>
      <% end %>
    </select>
    <input name="room[user_ids][]" type="hidden" value=<%= current_user.id %>>
  </div>
  <%= f.submit "Create", class: "btn btn-primary mt-2"%>
<% end %>