<%=form_with model: @room, class: "form-signin", local: true do |f|%>
  
  <br /><br /><br />

  <h1 class="font-weight-bolder">New Chat</h1>

  <div class="form-label-group">
    <label for="inputChatname">Chat Name</label>
    <%= f.text_field :name, class: "form-control", placeholder: 'Enter Name of Chat Room', id: "inputChatname"%>
  </div>

  <div class="form-label-group">
    <label for="inputchatMember">Chat Member</label>
    <select name="room[user_ids][]" class="custom-select" id="inputchatMember">
      <option value="" class="form-control">Choose Chat Member</option>
      <% User.where.not(id: current_user.id).each do |user| %>
        <option value=<%= user.id %>><%= user.nickname %></option>
      <% end %>
    </select>
    <input name="room[user_ids][]" type="hidden" value=<%= current_user.id %>>
  </div>

  <div class="checkbox mb-3">
  </div>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>

<% end %>